html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  height: 100vh;
}

header > h1 {
  margin-bottom: 0;
}

header > p {
  color: #222;
}

/* Navigation bar */

.nav {
  display: flex;
  align-content: space-between;
  justify-content: center;
}

.nav-btn {
  display: inline-block;
  border: 1px solid black;
  box-shadow: 2px 3px #222;
  font-size: 2rem;
  padding: 1vh;
  margin: 1vh;
  text-decoration: none;
}

.nav-btn:link, .nav-btn:visited {
  color: #333333;
}

.nav-btn:hover {
  color: black;
}

/* Projects */

.projects {
  background-color: #B00020;
  color: white;
  padding: 5% 10%;
}

.projects > h2 {
  font-size: 4rem;
  text-align: center;
  margin-top: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5vh;
  font-size: 2rem;
  justify-content: space-around;
}

