html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
}

/* About */

.about {
  color: #454545;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  height: 100vh;
}

.about *::selection {
  color: white;
  background-color: #454545;
}

.about > h1 {
  font-weight: 400;
  margin-bottom: 0;
}

/* Navigation bar */

.nav-bar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-btn {
  color: rgba(0, 0, 0, 0.7);
  background-color: #f5f5f5;
  border-radius: 5px;
  font-size: 2rem;
  padding: 0.5em;
  margin-right: 0.5em;
  text-decoration: none;
}

.nav-btn:hover {
  background-color: #eee;
}

/* Projects */

.projects {
  color: white;
  background-color: #4a4a4a;
  padding: 5% 20%;
  text-align: center;
}

.projects *::selection {
  background-color: white;
  color: #4a4a4a;
}

.projects > h2 {
  font-size: 4.2rem;
  font-weight: 500;
  margin-top: 0;
}

.container {
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
}

.card {
  flex-basis: 15em;
}

.card > h3 {
  font-size: 1.25em;
  font-weight: 500;
  margin-bottom: 0;
}

.card > p {
  font-size: 0.9em;
  line-height: 1.3;
}

.card a {
  color: inherit;
  text-decoration: none;
}

/* Media queries */

@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }

  .projects {
    padding: 10%;
  }

  .container {
    font-size: 2.3rem;
    flex-direction: column;
  }

  .card {
    flex-basis: 0;
  }
}
